<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="babycare.android.scu.edu.mybabycare" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopping.Activities.ShoppingList"
            android:label="Shopping List" />
        <activity
            android:name=".shopping.Activities.AddNewItem"
            android:label="Add New Item" />
        <activity
            android:name=".shopping.Activities.UpdateItem"
            android:label="Update Item"/>
        <activity
            android:name=".shopping.Activities.SearchList"
            android:label="SearchItems"/>
        <activity
            android:name=".calendar.Activities.CalendarActivity"
            android:label="Calendar"/>
        <activity
            android:name=".shopping.Activities.StoreLocation"
            android:label="Store Location" />
        <activity
            android:name=".checklist.Activities.AddEvent"
            android:label="Add New CheckList Item" />

        <activity android:name=".notification.Activities.NotificationActivity"/>
        <service android:name=".notification.utils.ScheduleService" />
        <service android:name=".notification.utils.NotifyService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDTi16HKXx2RJERjBu5iSxgk9184CxhlOo" />

    </application>

    <permission
        android:name="babycare.android.scu.edu.mybabycare.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="babycare.android.scu.edu.mybabycare.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
